body{
    background-color:rgb(34,34,34) ;
    color:azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding:15px;
    }
header{
background-color: black;
display: flex;
flex-direction: row;
justify-content:space-between ;
align-items: center;
      }

h1{
    font-weight: 100;
    margin: 10px;    

    }
p{
    color: rgb(132,14 ,201 );
    padding: 10px; 
    border-radius: 10px;
    border-top: .1px; ;
    border-width: 3px;
    

    
 }
    